.buttonCommand:hover {
    background-color: maroon;
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,.1);
}

.fetchHeader {
    padding: 5px 5px 5px 10px;
    width: 200px;
}

.fetchText {
    text-align: center;
    border-bottom: 2px maroon solid;
    width: 200px;
}


.fetch-container {
    padding: 0 10px 10px 10px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.fetch-item {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border: 1px gray solid;
    border-radius: 8px;
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,.1);
}

.title-song {
    padding: 10px;
}

.button-item {
    padding-left: 100px;
}

.gradient-custom {
    background: linear-gradient(to bottom right, maroon, rgba(254, 225, 64, 1))
}

.nav-link:hover {
    color: maroon !important;
}

.active {
    border-bottom: maroon solid 2px !important;
}

.contentMain {
    display: flex;
    padding: 10px;
    justify-content: center;
    gap: 50%;
    height: 80%;
}

.titleContent {
    margin-top: 35px;
    padding: 100px;
    
}

.infoContent {
    margin-top: 100px;
    padding: 60px;
    border-left: solid maroon 3px;
    height: fit-content;
}

.extraContent {
    margin-top: 150px;
}
.genreTitle {
    border-bottom: solid maroon 3px;
}

.hiddenValues {
    display: none;
}