extends layout.pug

//- block navLinks
//-     a(class="nav-link active" aria-current="page" href="/") Home
//-     a(class="nav-link" href="#") BookAPI
//-     a(class="nav-link" href="#") MusicAPI

