doctype=html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="/public/style/bootstrap.css" rel="stylesheet")
        link(href="/public/style/heroes.css" rel="stylesheet")
        link(href="/public/style/site.css" rel="stylesheet")
        script(src="/public/js/bootstrap.bundle.js")
        title API Shenanigans 
    body 
    section 
        // Ask to see if you can use pug-bootstrap for it....
        
        nav.navbar.navbar-expand-lg.navbar-light.bg-light.container-fluid
            a.navbar-brand(href='/') Data Express
            a.navbar-toggler(role='button' data-bs-toggle='collapse' href='#navbarNav' aria-controls='navbarNav' aria-expanded='false')
                i.fas.fa-bars
            div(id='navbarNav' class='collapse navbar-collapse justify-content-end')
                ul.navbar-nav
                    block navbar

    section(class="contentSec") 
        block content

    
