extends main.pug

block content
  div.container
    form#myForm
      label(for='fullname') Full Name: 
      input#fullname(name='fullname')
      label(for='birthday') Birthday: 
      input#birthday(name='birthday' placeholder="mm/dd/yyyy")
      label(for='address') Address: 
      input#address(name='address')
      label(for='city') City: 
      input#city(name='city')
      label(for='city') State: 
      input#state(name='state')
      label(for='zip') Zip Code: 
      input#zip(name='zip')
      button#submit Submit
  
  script(src='../validate.js')