doctype
html
  block head
    title My Site
    link(rel='stylesheet' href='../style.css')
  block body
    h1 Welcome to My Site
    block content
    block footer
      div
        p Copyright or whatever