html
    head
        title My Form Demo
    body
        h1 Welcome to the Form 
        div 
            form(id="myForm")
                input(name='name' id='name')
                button(id='btn') Press Me
        script(src="../secret/js/form.js") 