extends layout.pug 
        
block content 
    h1 Product Page
    //- ? Maybe build an api to fill this for use through JSON
    section(class="pro")
        section(id="proSection" class="products")
            //- Pass the variables here to loop through in the templating engine
            //- Not through the JS on Client or Server side
            each val in products
                div(class="product-card")
                    div(class="product-image")
                        img(src=val.image)
                    div(class="product-info")
                        h5 #{val.title}
                        h6 #{val.price}
    
    script(src="../style/js/product.js") 
        