extends layout.pug 

block content 
    h1 Product Page
    //- ? Maybe build an api to fill this for use through JSON...
    section(class="pro")
        section(id="proSection" class="products")
    
    script(src="../style/js/site.js") 
        