html
    head
        title Title Page 
        link(rel="stylesheet", href="../style/css/site.css")
    body 
        section 
            nav 
                ul 
                    a(href="/") Home 
                ul 
                    a(href="/orders") Order Form 
                ul
                    a(href="/features") Features
        section 
            block content

        #footer
            p(class="footer") Stephen Derenski Copyright@2022
