doctype=html
html
    head
        title Title Page 
        link(rel="stylesheet", href="../style/css/site.css")
        block styles
    body 
        section 
            input(class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon")
            label(for="menu-icon")
            nav(class="nav")
                ul(class="pt-5")
                    li 
                        a(href="/") Home
                    li 
                        a(href="/products") Products
                    li 
                        a(href="/orders") Orders 
        section(class="contentSec") 
            block content

        #footer
            p(class="footer") Stephen Derenski Copyright@2022
