doctype=html
html
    head
        title Title Page 
        link(rel="stylesheet", href="../style/css/site.css")
        block styles
    body 
        section 
            input(class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon")
            label(for="menu-icon")
            nav(class="nav")
                ul(class="pt-5")
                    for item in navList
                        li
                            a(href=item.route) #{item.title}
        section(class="contentSec") 
            block content

        #footer
            p(class="footer") Stephen Derenski Copyright@2022
