extends layout.pug 

block content 
    h1 Orders Page
    div
        form(id="orderForm")
            input(name='name' id='name')
            input(name='street' id='street')
            input(name='city' id='city')
            input(name='state' id='state')
            select(name='country' id='country')
    



    script(src="../style/js/order.js") 