extends layout.pug 

block styles
    link(rel="stylesheet", href="../style/css/orders.css")

block content 
    h1 Orders Page
    div(class="row")
        div(class="col-75")
            div(class="container")
                form
                    div(class="row")
                        div(class="col-50")
                            h3 Billing Address
                            label(for="fname"): i(class="fa fa-user") Full Name  
                            input(type="text" id="fname" name="firstname" placeholder="John M. Doe")
                            label(for="phone"): i(class="fa fa-phone") Phone Number
                            input(type="text" id="phone" naem="phone" placeholder="(636) 888-4444")
                            label(for="email"): i(class="fa fa-envelope") Email
                            input(type="text" id="email" name="email" placeholder="john@email.com")
                            label(for="adr"): i(class="fa fa-addres-card-o") Address 
                            input(type="text" id="adr" name="address" placeholder="542 W. 15th Street") 
                            label(for="city"): i(class="fa fa-institution") City
                            input(type="text" id="city" name="city" placeholder="New York")
                            div(class="row")
                                div(class="col-50")
                                    label(for="state") State
                                    input(type="text" id="state" name="state" placeholder="NY")
                                div(class="col-50")
                                    label(for="zip") Zip
                                    input(type="text" id="zip" name="zip" placeholder="10001")
                    label Shipping address same as billing
                    input(type="checkbox" checked="checked" name="sameadr")
                    input(type="submit" value="Continue to checkout" class="btn")
        div(class="col-25")
            div(class="container")
                h4 Cart
                    span(class="price" style="color:black"): i(class="fa fa-shopping-cart"): b 4
                                                  



    script(src="../style/js/order.js") 