extends layout.pug 

block styles
    link(rel="stylesheet", href="../style/css/title.css")

block content 
    section
        div(class="c-heroImageGrid")
            div(class="container")
                div(class="column")
                div(class="column")
                    div(class="row")
                    div(class="row")
                        div
                            div(class="text")
                                h6(class="titleW") Home Page 
                        div
                    div(class="row")
